<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>
    <link href="/css/createaccount.css" type="text/css" rel="stylesheet"/>
</head>

<body>

        <form method="POST" action="/register">
            <label for="Firstname"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="Firstname" required>

            <label for="Middlename"><b>Middle Name</b></label>
            <input type="text" placeholder="Enter Middle Name" name="Middlename">

            <label for="Lastname"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="Lastname">
          
            <label for="EmailId"><b>Email ID</b></label>
            <input type="email" placeholder="Enter Username" name="EmailId" required>
        
            <label for="cpsw"><b>Create Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password" required>

            <label ><b>Confirm Password</b></label>
            <input type="password" placeholder="Enter Password"  required>
                
            <button type="submit">Login</button>
        </form>
        
</body>

</html>