<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/login.css" type="text/css" rel="stylesheet"/>
</head>
<body>
   
   <div class="login-box">
       <form class="forms" method="post" action="/login">
           <h2>Login</h2>
           <label for="emailid">Email Id</label>
           <input type="email" id="emailid" name="EmailId" placeholder="Enter your EmailId" required="true"/>
           <label for="password">Password</label>
           <input type="password" id="password" name="Password" placeholder="Enter your Password" required="true"/>
           <button> Login</button>
           <a style="float: right" href="/">Forget Password?</a>

           <a  class="aa" href="/home">Create Account</a>
       </form>
   </div>

</body>
</html>